.sc-panel-space-small
  padding 10px 0

a.uk-thumbnail
  &:hover, &:focus
    background-color white

a.uk-thumbnail
  &.selected
    background-color beige
    &:hover, &:focus
      background-color beige